





.main{width:600px; height: 500px;; text-align: center; border-radius: 10px ;
    background-color: red; margin: auto ;}

   .middle{ width: 200px; height:200px; margin: auto; padding:20px ;} 
  img{max-width: 100px;  border-radius: 50%;}

  .form{ margin: auto; }
  